<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCGkp_hBZCMhRecdFSd-P6ZoJITtq9aRMg</string>
	<key>GCM_SENDER_ID</key>
	<string>1056924883491</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alkmal.iptv</string>
	<key>PROJECT_ID</key>
	<string>stream-live-3d275</string>
	<key>STORAGE_BUCKET</key>
	<string>stream-live-3d275.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1056924883491:ios:cbf11bcdd2ae02b1162f96</string>
</dict>
</plist>